.skills {
  display: flex;
  flex-wrap: wrap;
  &__skill {
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba($colorCuaternario, 0.5);
    border-radius: $commonBorderRadius;
    font-weight: 600;
    color: $colorPrimario;
    &:hover {
      cursor: default;
      transform: translateY(-2px);

      background: rgba($colorCuaternario, 1.7);
    }
  }
}
